* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{width: 98.46vw;}
/*-----section one---------*/
.first {
    background: radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding: 60px 0 0 0;
}
header{
    display: flex;
    width: 1200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 573px;
    margin: 0 auto;
}
header p:first-of-type{
    color: #F1CDB3;
    font-family: "Georgia", sans-serif;
    font-size: 32px;
    line-height: 110%; /* 35.2px */
    letter-spacing: 1.92px;
    margin-bottom: 10px;
}
header p:last-of-type{
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    letter-spacing: 1.3px;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style-type: none;
}
header ul a{
    color: #CDCDCD;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
    text-decoration: none;
}
header ul a:hover{
    color: #fafafa;
    border-bottom: 3px solid #F1CDB3;
}
.first>div{
    width: 1200px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 42px;
}
.first h4{
    width: 310px;
    color: #FFF;
    font-family: "Georgia",sans-serif;
    font-size: 44px;
    font-weight: normal;
    line-height: 130%; /* 57.2px */
}
.first article p{
    width: 460px;
    color: #CDCDCD;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
.first button{
    background: #F1CDB3;
    border: none;
    border-radius: 26px;
    width: 208px;
    height: 52px;
    color: #292929;
    font-family: Georgia,sans-serif;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
/*-----------section about------------*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

}
#about h4{
    font-weight: 400;
    width: 370px;
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
#about p{
    width: 430px;
    color: #4C4C4C;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
#about>div{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 26px;
}
#about img{
    margin: 80px 0 100px;
}
/*--------section pets-------*/
#pets{
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 80px 0 100px;
}
#pets h4{
    color: #545454;
    width: 400px;
    text-align: center;
    font-family: "Georgia",sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
#pets>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
#pets .card{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 9px;
    background: #FAFAFA;
}
#pets .card p{
    color: #545454;
    text-align: center;
    font-family: "Georgia",sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
}
#pets button{
    height: 52px;
    border-radius: 26px;
    width: 188px;
    background: none;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-family: "Georgia",sans-serif;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
#pets>button{
    width: 262px;
    background: #F1CDB3;
}
/*--------section help--------*/
#help article{
    width: 100%;
    padding: 80px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#help .top{
    flex-direction: column;
    gap: 60px;
}
#help .top h4{
    width: 350px;
    color: #545454;
    text-align: center;
    font-family: "Georgia",sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
#help .top>div{
    width: 1030px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 55px 120px;
}
#help .card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#help .card p{
    color: #545454;
    text-align: center;
    font-family: "Georgia",sans-serif;
    font-size: 20px;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
#help .bottom{
    background: #F6F6F6;
    gap: 30px;
}
#help .bottom div{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
#help .bottom div h4{
    width: 300px;
    color: #545454;
    font-family: "Georgia",sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
#help .bottom div p:first-of-type{
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 15px;
    line-height: 110%; /* 16.5px */
    letter-spacing: 0.9px;
}
#help .bottom div p:last-of-type{
    color: #B2B2B2;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 18px; /* 150% */
}
#help .bottom button{
    width: 350px;
    height: 44px;
    border-radius: 9px;
    background: #F1CDB3;
    border: none;
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
#help .bottom button svg{
    margin: 0 16px -4px 0;
}